.inputview {
    border: 1px solid #9722b2;
    background-color: white;
    border-radius: 5px;
    color: rgb(41, 3, 46);
    width: 600px;
    margin: 20px 10px;
    padding: 10px 10px;

}
.inputview:hover {
    border: 1px solid purple;
    background-color: white;
    -webkit-box-shadow: 0px 5px 30px 2px rgba(151, 34, 178, 0.2) inset;
    -moz-box-shadow: 0px 5px 30px 2px rgba(151, 34, 178, 0.2) inset;
    box-shadow: 0px 5px 30px 2px rgba(151, 34, 178, 0.2) inset;
}
.inputview:active { 
    border: 1px solid purple;
    background-color: white;
}