.buttonView {
    display: inline-block;
    cursor:pointer;
    background-color: #9722b2;
    border-radius: 15px;
    border: 0;
    color: white;
    margin:10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family:'Oswald', sans-serif;
    font-style: oblique;
    font-weight: bold;

    
}
.buttonView:hover {background-color: rgb(114, 18, 114) }
.buttonView:active {
    background-color:  rgb(114, 18, 114);
    box-shadow: 2px 4px #9722b2;
    transform: translateY(4px);
}