.form {
    // padding-top: 200px;
    min-height: 300px;
    width: 750px;
    // border: 1px solid black;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 26px 50px 2px rgba(151, 34, 178, 0.2);
    -moz-box-shadow: 0px 26px 50px 2px rgba(151, 34, 178, 0.2);
    box-shadow: 0px 26px 50px 2px rgba(151, 34, 178, 0.2);


}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color:black;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
}

.containerMean {
    border: 2px solid white;
    background-color: white;
    color: purple;
    font-size: 16px;
    font-weight: 500;
    font-family:'Oswald', sans-serif;
    font-style: oblique;
    font-weight: normal;
    margin:10px 5px;
    padding:20px 10px;
    line-height: 1.5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.containerMainTitle {
    color: purple;
    font-size: 18px;
    font-weight: 600;
    font-family:'Oswald', sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    line-height: 1.5;
}
