.container {
  height: 700px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(249, 230, 255);
  -webkit-box-shadow: 0px -6px 28px 9px rgba(151, 34, 178, 0.2) inset;
-moz-box-shadow: 0px -6px 28px 9px rgba(151, 34, 178, 0.2) inset;
box-shadow: 0px -6px 28px 9px rgba(151, 34, 178, 0.2) inset;
}

.app {
  border: 1px solid red;
  // background-image:url(https://videohive.img.customer.envatousercontent.com/files/7fc956d0-6b24-4b1c-8356-8c668e3e212a/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=0b088eb6128f1ed3482f18b7572fb633);
  width:800px;
  height: 100%;
  color: rgb(88, 9, 88);
  // min-height: 10em;
}
